{% extends 'app/registration/base_auth.html' %}

{% block title %}Set New Password{% endblock %}
{% block content %}
    <div class="auth-container">
        <h2>Set a New Password</h2>

        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}

                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}

                <button type="submit">Change Password</button>
            </form>
        {% else %}
            <p>The password reset link is invalid or has expired. Please request a new one.</p>
            <a href="{% url 'app:password_reset' %}" class="btn">Request New Link</a>
        {% endif %}
    </div>
{% endblock %}
