{% extends "app/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'app/project.css' %}">
{% endblock %}

{% block content %}

<main>
    <section class="project-details">
        <h2>Project Details</h2>
        <p><strong>Title:</strong> {{ project.title }}</p>
        <p><strong>Owner:</strong> {{ project.owner.username }}</p>
        <p><strong>Description:</strong> {{ project.description|default:"No description" }}</p>
        <p><strong>Created:</strong> {{ project.created_at|date:"Y-m-d" }}</p>
        {% if project.user_role == "O" %}
            <section class="edit-project">
                <div id="edit-project-popup-form" class="edit-project-popup-form">
                    <form method="post" action="{% url 'app:edit_project' project.id %}">
                        {% csrf_token %}
                        <label for="edit_title">Title:</label>
                        <input type="text" name="title" placeholder="Title" id="edit_title"
                               value="{{ project.title|default:'' }}">
                        <label for="edit_description">Description:</label>
                        <input type="text" name="description" placeholder="Description" id="edit_description"
                            value="{{ project.description|default:'' }}">
                        {% if messages %}
                            <p style="color: {% if message.tags == 'error' %}red{% else %}green{% endif %};">
                              {{ message }}
                            </p>
                        {% endif %}
                        <button type="submit">Save Changes</button>
                        <button type="button" id="cancelEditPopup">Cancel</button>
                    </form>
                </div>

                <button id="togglePopup">Edit Project</button>
            </section>
        {% endif %}
    </section>

    <section class="task-list">
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th><pre>Task         </pre></th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Deadline</th>
                    <th>assigned User</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td><a href="{% url 'app:task' task.id %}">{{ task.title }}</a></td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.get_status_display }}</td>
                        <td>{{ task.get_priority_display }}</td>
                        <td>{{ task.deadline|date:"Y-m-d" }}</td>
                        <td>{{ task.user }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">No tasks found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% if project.user_role == "A" or project.user_role == "O" %}
    <section class="create-task" id="create-task">
        <h2>Create Task</h2>
        <div class="popup-form">
            {% if error_message and anchor == "create-task" %}
                <p class="error_message">{{ error_message }}</p>
            {% endif %}
            <form method="post" action="{% url 'app:create_task' project.id %}">
                {% csrf_token %}
                <label for="title">Task Title:</label>
                <input type="text" name="title" id="title"
                        value="{{ request.POST.title|default:'' }}" required>

                <label for="description">Description:</label>
                <input type="text" name="description" id="description"
                 value="{{ request.POST.description|default:'' }}">

                <label for="priority">Priority:</label>
                <select name="priority" id="priority">
                    <option value="0" {% if task.priority == 0 %}selected{% endif %}>Low</option>
                    <option value="1" {% if task.priority == 1 %}selected{% endif %}>Medium</option>
                    <option value="2" {% if task.priority == 2 %}selected{% endif %}>High</option>
                </select>

                <label for="deadline">Deadline:</label>
                <input type="date" name="deadline" id="deadline"
                       value="{{ request.POST.deadline|default:'' }}" required>

                <label for="user_id">Select User:</label>
                <select name="user_id" id="user_id" required>
                    <option value="" disabled selected>Select a user</option>
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Add Task</button>
            </form>
        </div>
    </section>
    {% endif %}

    <section class="members-list">
        <h2>Members</h2>
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                {% for membership in project.memberships.all %}
                <tr>
                    <td>{{ membership.user.username }}</td>
                    <td>{{ membership.get_role_display }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">No members yet.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    {% if project.user_role == "A" or project.user_role == "O" %}
    <section class="add-member" id="add-member">
        <h2>Invite Member</h2>
        <div id="popupForm" class="popup-form">
            {% if error_message and anchor == "add-member"%}
                <p class="error_message">{{ error_message }}</p>
            {% endif %}
            <form method="post" action="{% url 'app:add_member' project.id %}">
                {% csrf_token %}
                <label for="user_id">Select User:</label>
                <select name="member_id" id="member_id">
                    <option value="" disabled selected>Select a user</option>
                    {% for user in users_in %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select>

                <label for="role">Role:</label>
                <select name="role" id="role">
                    <option value="M" selected>Member</option>
                    <option value="A">Admin</option>
                </select>

                <button type="submit">Invite</button>
            </form>
        </div>
    </section>
    {% endif %}
</main>

    <script>
        {% if anchor %}
            window.location.hash = "{{ anchor }}";
        {% endif %}

        const togglebtn = document.getElementById("togglePopup");
        const editprojectpopupform = document.getElementById("edit-project-popup-form");
        const cancelBtn = document.getElementById("cancelEditPopup");

        togglebtn.addEventListener("click", () => {
            editprojectpopupform.classList.add("show")
            togglebtn.classList.add("hide")
        });

        cancelBtn.addEventListener("click", () => {
            editprojectpopupform.classList.remove("show")
            togglebtn.classList.remove("hide")
        })
    </script>
{% endblock %}
