body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    margin-top: 10%;
    width: 360px;
}

.container h1 {
    text-align: center;
    margin-bottom: 15px;
}

.input-container {
    display: block;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input-container input {
    display: block;
    width: 90%;
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 8px;
    margin: 5px;
}

.input-container input:focus {
    border-color: darkorange;
    outline: none;
}

.input-container button {
    display: block;
    width: 96.5%;
    padding: 10px;
    border-radius: 8px;
    margin: 5px;
    background: orange;
    border: none;
    color: white;
    cursor: pointer;
}

.input-container button:hover {
    background: darkorange;
}

.input-container a {
    display: block;
    margin: 12px 0;
    color: orange;
    text-decoration: none;
    cursor: pointer;
}

.input-container a:hover {
    color: darkorange;
    text-decoration: underline;
}

.input-container .signup {
    width: 50%;
    display: block;
    margin: 12px auto;
    background: white;
    color: orange;
    border: 2px solid orange;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;
}

.input-container .signup:hover {
    background: orange;
    color: white;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
