/* General Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #222;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

header nav {
display: flex;
justify-content: space-between;
align-items: center;
}

header nav h1 {
font-size: 24px;
}

header nav ul {
list-style: none;
display: flex;
gap: 20px;
}

header nav ul li a {
color: rgb(255, 255, 255);
font-weight: bold;
transition: 0.3s;
}

header nav ul li a:hover {
color: rgb(255, 215, 0);
}

header .user-avatar {
width: 35px;
height: 35px;
border-radius: 50%;
object-fit: cover;
}

header nav a.active {
    color:rgb(85, 97, 110);
    border-radius:5px;
}

main {
    flex: 1;
    padding: 20px;
    background: #f5f6fa;
}
footer {
    background: #2f3640;
    color: white;
    text-align: center;
    padding: 15px;
}

footer p {
    margin: 5px 0;
}

.error_message {
    color: red;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
